<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <title>Members</title>
</head>
<body>
<div class="container">
    <menu>
        <li onclick="window.location.href='/'">
            <h1>International students</h1>
        </li>
        <li onclick="window.location.href='/members/'">
            <h1>Members</h1>
        </li>
        <li onclick="window.location.href='/ESNcards/'">
            <h1>ESNcards</h1>
        </li>
        <li onclick="window.location.href='/SIMCards/'">
            <h1>SIM cards</h1>
        </li>
        <li>
            <h1>Welcome packs</h1>
        </li>
        <li>
            <h1>Statistic</h1>
        </li>
        <li>
            <h1>Administration</h1>
        </li>
    </menu>
    <main class="content">
        <div class="header">
            <span>Semester</span>
            <select th:name="semester">
                <option value="2024/2025 Winter semester (Current)">2024/2025 Winter semester (Current)</option>
                <!-- Add more options dynamically -->
            </select>
            <input type="text" th:placeholder="'Search'"/>
            <input type="text" th:placeholder="'Faculty'"/>
            <button>Search</button>
            <button class="qr-button">QR</button>
            <a class="qr-button" href="/members/add">New member</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Faculty</th>
                <th>Welcome Pack</th>
                <th>ESNcard</th>
                <th>SIM card</th>
                <th>Profile</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.name}"></td>
                <td th:text="${member.surname}"></td>
                <td th:text="${member.faculty}"></td>
                <td><input type="checkbox" th:checked="${member.welcomePack}" disabled/></td>
                <td><input type="checkbox" th:checked="${member.haveValidEsnCard()}" disabled/></td>
                <td><input type="checkbox" th:checked="${member.haveValidSimCard()}" disabled/></td>
                <td><a th:href="'/members/profile/' + ${member.id}">Detail</a></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>
