<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <title>Members</title>
</head>
<body>
<div class="container">
    <main class="content" th:fragment="content">
        <div class="header">
            <form>
                <span>Semester</span>
                <select th:name="semester">
                    <option th:each="semester : ${semesters}"
                            th:text="${semester.name}"
                            th:value="${semester.id}"
                            th:selected="${semester.id == currentSemester.id}">
                </select>
                <input type="text" th:placeholder="'Search'"/>
                <input type="text" th:placeholder="'Faculty'"/>
                <button type="submit">Search</button>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Faculty</th>
                <th>Welcome Pack</th>
                <th>ESNcard</th>
                <th>SIM card</th>
                <th>Profile</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.name}"></td>
                <td th:text="${member.surname}"></td>
                <td th:text="${member.faculty}"></td>
                <td><input type="checkbox" th:checked="${member.welcomePack}" disabled/></td>
                <td><input type="checkbox" th:checked="${member.haveValidEsnCard()}" disabled/></td>
                <td><input type="checkbox" th:checked="${member.haveValidSimCard()}" disabled/></td>
                <td><a th:href="'/members/profile/' + ${member.id}">Detail</a></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>
