<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add ESNcard</title>
    <link rel="stylesheet" href="/menu.css">
</head>
<body>
    <form th:action="@{'/intStudent/profile/{id}/addESNcard/' (id=${student.id})}" method="post" th:object="${esnCard}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="Cvguvduu" required>
        <br>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" value="DHJSBUD" required>

        <br>
        <label for="cardNumber">Card Number:</label>
        <input type="text" id="cardNumber" name="cardNumber" value="123456789" required>
        <br>
        <label for="dateOfImport">Date of Import:</label>
        <input type="date" id="dateOfImport" name="dateOfImport" value="2021-01-01" required>
        <br>
        <label for="dateOfIssue">Date of Issue:</label>
        <input type="date" id="dateOfIssue" name="dateOfIssue" value="2021-01-01" required>
        <br>
        <label for="cardPrice">Card Price:</label>
        <input type="number" id="cardPrice" name="cardPrice" value="10" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>