<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/esncards-list.css">
    <title>Add New ESN Card</title>
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <ul>
            <li>International Students</li>
            <li>Members</li>
            <li th:classappend="${'active'}">ESNcards</li>
            <li>SIM cards</li>
            <li>Welcome Packs</li>
            <li>Statistic</li>
            <li>Administration</li>
        </ul>
    </aside>
    <main class="content">
        <div class="header">
            <h1>Add New ESN Card</h1>
        </div>
        <form th:action="@{'/intStudent/profile/{id}/assignESNcard/' (id=${student.id})}" method="post">
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <th>Card Number</th>
                        <th>Availability</th>
                        <th>Date of Import</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="card : ${esnCards}">
                        <td th:text="${card.cardNumber}"></td>
                        <td th:text="${card.cardStatus}"></td>
                        <td th:text="${card.dateOfImport}"></td>
                        <td>
                            <form th:action="@{'/intStudent/profile/{id}/assignESNcard/' (id=${student.id}, esnCardId=${card.id})}"
                                  method="post">
                                <input type="hidden" name="esnCardId" th:value="${card.id}"/>
                                <button type="submit" class="btn-submit">Add Card</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>

    </main>
</div>
</body>
</html>
