<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <title>International Students</title>
</head>
<body>
<main th:fragment="content">
    <div class="header">
        <form method="post" th:action="@{/intStudent/search}">
            <label>
                <span>Semester</span>
                <select th:name="semester">
                    <option th:each="semester : ${semesters}"
                            th:text="${semester.name}"
                            th:value="${semester.id}"
                            th:selected="${semester.id == currentSemester.id}">
                    </option>
                </select>
            </label>

            <input type="text" name="nameSearch" id="nameSearch" th:placeholder="'Search'"/>

            <input list="countrySearchOptions" id="countrySearch" name="countrySearch" th:placeholder="'Country'">
            <datalist id="countrySearchOptions">
                <option th:each="country : ${countries}"
                        th:text="${country.name}"
                        th:value="${country.code}">
            </datalist>
            <button type="submit">Search</button>


        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Country</th>
            <th>Welcome Pack</th>
            <th>ESNcard</th>
            <th>SIM card</th>
            <th>Profile</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${international_students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.country}"></td>
            <td><input type="checkbox" th:checked="${student.welcomePack}" disabled/></td>
            <td><input type="checkbox" th:checked="${student.haveValidEsnCard()}" disabled/></td>
            <td><input type="checkbox" th:checked="${student.haveValidSimCard()}" disabled/></td>
            <td><a th:href="'/intStudent/profile/' + ${student.id}">Detail</a></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
